html, body{min-height:100%;}
body{height:100vh;}
#no-bullet-list {list-style-type:none; padding-top:0px; margin-top:0px;}
.bubble {border-radius: 25px; padding:7px; margin-left: 10px;}
.bubble-separator {height:15px; width:250px; margin:5px 0px 5px 0px; filter: blur(3px); border-radius: 25px; }

body {
    animation: fadeInAnimation ease .3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
 
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}