[build-system]
requires = [
    "setuptools>=61.0",
    
    ]
build-backend = "setuptools.build_meta"

[project]
name = "streamViz"
version = "1.0.0"
authors = [
  { name="Derek Evans", email="derek.evans@deinfoservice.com" },
]
description = "Reusable Streamlit component for quickly deploying Plotly indicator gauge charts."
readme = "README.md"
requires-python = ">=3.7"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]

[project.urls]
"Homepage" = "https://www.techbyderek.com"
