[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "essence-nlp"
version = "0.0.3"
authors = [
  { name="Jash Dubal", email="jsd9393@gmail.com" },
]
description = "A small example package"
readme = "README.md"
requires-python = ">=3.7"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]

[project.urls]
"Homepage" = "https://github.com/jashdubal/essence"
"Bug Tracker" = "https://github.com/jashdubal/essence/issues"
