body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin:0;
}

.page {
    flex: 1;
}

.section {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.footer {
    padding: 1.5em;
}
